# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.venv/
venv/

# OS-specific
.DS_Store
Thumbs.db


# Jupyter Notebook checkpoints
.ipynb_checkpoints/
credentials.json

# Logs
*.log

# IDE files
.vscode/
.idea/

# Tkinter/PIL temp
*.png~
